{% extends 'base.html.twig' %}

{% block body %}
    Enter your password to save changes to your account.
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Delete data" />
    {{ form_end(form) }}
    <ul>
        <li><a href="{{ path('profile_edit') }}">Back</a></li>
    </ul>
{% endblock %}