{% extends '@FieldUser/base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Reset Password" />
    {{ form_end(form) }}
    <ul>
        <li><a href="{{ path('login') }}">Back</a></li>
    </ul>
{% endblock %}